@model Newapp.Models.Client

<div>
    <h4>Client Details</h4>
    <hr />

    <table class="table table-stripped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td> <td> @Html.DisplayFor(model => model.Name)</td>
            </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Dob)</td> <td>@Html.DisplayFor(model => model.Dob) </td>
            </tr>
        <tr> 
            <td> @Html.DisplayNameFor(model => model.NiNumber)</td> <td>@Html.DisplayFor(model => model.NiNumber)</td>
            </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Address) </td> <td>  @Html.DisplayFor(model => model.Address) </td>
            
        </tr>
    </table>
    
</div>
<div>
    
</div>
